.loading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: fixed;
    right: 30%;
    width: 30%;
    background-color: rgb(242, 242, 242, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #666666;
    box-shadow: 24;

    padding: 1% 0% 1% 0%;
}