html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #1a1a1a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.goldColor {
  color: #FFD700;
}

.box {
  align-self: flex-end;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

.bounce-2 {
animation-name: bounce-2;
animation-timing-function: ease;
}

@keyframes bounce-2 {
0%   { transform: translateY(0); }
50%  { transform: translateY(-20px); }
100% { transform: translateY(0); }
}
